# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.inc

/hw3/kcov-branch-identify
/hw3/kcov

/hw4/*/Debug+Asserts/
/hw4/*/*/Debug+Asserts/
/hw4/*/*/*/Debug+Asserts/
/hw4/*/*/*/*/Debug+Asserts/
/hw4/*/*/*/*/*/Debug+Asserts/
/hw4/*/Release+Asserts/
/hw4/*/*/Release+Asserts/
/hw4/*/*/*/Release+Asserts/
/hw4/*/*/*/*/Release+Asserts/
/hw4/*/*/*/*/*/Release+Asserts/

/hw4/llvm/Makefile.llvmbuild
/hw4/llvm/bindings/ocaml/backends/Makefile.AArch64
/hw4/llvm/bindings/ocaml/backends/Makefile.ARM
/hw4/llvm/bindings/ocaml/backends/Makefile.CppBackend
/hw4/llvm/bindings/ocaml/backends/Makefile.Hexagon
/hw4/llvm/bindings/ocaml/backends/Makefile.MSP430
/hw4/llvm/bindings/ocaml/backends/Makefile.Mips
/hw4/llvm/bindings/ocaml/backends/Makefile.NVPTX
/hw4/llvm/bindings/ocaml/backends/Makefile.PowerPC
/hw4/llvm/bindings/ocaml/backends/Makefile.R600
/hw4/llvm/bindings/ocaml/backends/Makefile.Sparc
/hw4/llvm/bindings/ocaml/backends/Makefile.SystemZ
/hw4/llvm/bindings/ocaml/backends/Makefile.X86
/hw4/llvm/bindings/ocaml/backends/Makefile.XCore
